.text-left.card-title {
}

html, body {
  height: 100%;
  width: 100%;
}

.sp-loading {
  text-align: center;
  max-width: 270px;
  padding: 15px;
  border: 5px solid #eee;
  border-radius: 3px;
  font-size: 12px;
  color: #888;
}

.sp-wrap {
  display: none;
  line-height: 0;
  font-size: 0;
  background: #eee;
  border: 5px solid #eee;
  border-radius: 3px;
  position: relative;
  margin: 0 25px 15px 0;
  float: left;
  max-width: 300px;
}

.sp-thumbs {
  text-align: left;
  display: inline-block;
}

.sp-thumbs img {
  min-height: 50px;
  min-width: 50px;
  max-width: 50px;
}

.sp-thumbs a:link, .sp-thumbs a:visited {
  width: 50px;
  height: 50px;
  overflow: hidden;
  opacity: .3;
  display: inline-block;
  background-size: cover;
  background-position: center;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -ms-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.sp-thumbs a:hover {
  opacity: 1;
}

.sp-thumbs a:active, .sp-current {
  opacity: 1!important;
  position: relative;
}

.sp-large {
  position: relative;
  overflow: hidden;
  top: 0;
  left: 0;
}

.sp-large a img {
  max-width: 100%;
  height: auto;
}

.sp-large a {
  display: block;
}

.sp-zoom {
  position: absolute;
  left: -50%;
  top: -50%;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
  display: none;
}

.sp-lightbox {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, .9);
  z-index: 1031;
  display: none;
  cursor: pointer;
}

.sp-lightbox img {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 90%;
  max-height: 90%;
  border: 2px solid #fff;
}

#sp-prev, #sp-next {
  position: absolute;
  top: 50%;
  margin-top: -25px;
  z-index: 501;
  color: #fff;
  padding: 14px;
  text-decoration: none;
  background: #000;
  border-radius: 25px;
  border: 2px solid #fff;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  transition: .2s;
}

#sp-prev {
  left: 10px;
}

#sp-prev:before {
  content: '';
  border: 7px solid transparent;
  border-right: 15px solid #fff;
  position: absolute;
  top: 16px;
  left: 7px;
}

#sp-next {
  right: 10px;
}

#sp-next:before {
  content: '';
  border: 7px solid transparent;
  border-left: 15px solid white;
  position: absolute;
  top: 16px;
  left: 18px;
}

#sp-prev:hover, #sp-next:hover {
  background: #444;
}

@media screen and (max-width: 400px) {
  .sp-wrap {
    margin: 0 0 15px 0;
  }
}

@media screen and (max-width: 400px) {
  #sp-prev, #sp-next {
    top: auto;
    margin-top: 0;
    bottom: 25px;
  }
}

.clean-block .block-heading h1, .clean-block .block-heading h2, .clean-block .block-heading h3 {
}

.c-heading {
  color: #303030 !important;
}

.card-group > .card:not(:last-child) .card-header, .card-group > .card:not(:last-child) .card-img-top {
}

.popular-category img {
  /*width: 50px;*/
}

.popular-category-grid {
  background-color: #fff;
  width: 120px;
  float: left;
  border-radius: 8px;
  padding: 20px 12px;
  margin-right: 10px;
  min-height: 160px;
}

.popular-category-grid img {
  margin: 0 auto;
}

.h6, h6 {
}

.popular-category-grid h6 {
  margin-top: 20px;
}

.product-grid {
  border-radius: 8px;
  border: none;
  height: 300px;
}

.category-breadcrumb-mini {
  font-size: 12px;
  color: #929292;
  margin-bottom: 8px;
  text-align: left !important;
}

.card- {
}

.product-grid h4 {
  font-size: 18px;
  line-height: 1.5;
  margin: 8px auto;
}

.card-bottom {
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 0px 0px 8px 8px;
}

.col-md-5.feature-box {
  background-color: #00c463;
}

product-card {
  background-color: #fff;
  border-radius: 8px;
  height: 400px;
}

.product-card {
  background-color: #fff;
  border-radius: 8px;
}

.product-card .card-content {
  padding-bottom: 0px;
  padding-top: 8px;
  padding-left: 12px;
  border-bottom: 1px solid #eeeeee;
  padding-right: 12px;
}

.product-card .card-content h4 {
  font-size: 16px;
  text-align: left !important;
}

.product-card .img-container {
  border-radius: 8px 8px 0px 0px;
}

.clearfix {
  overflow: auto;
}

.product-card-parent {
  padding: 8px;
}

.card-bottom .product-price {
  font-size: 14px;
}

.product-card.category-card {
  padding: 12px;
}

