body {
  font-family: 'SolaimanLipi', 'fontawesome';
  background-color: #f6f6f6;
}

@media (min-width: 576px) {
  .single-location-mt {
    margin-top: 0px !important;
  }
}

@media (min-width: 576px) {
  .single-location-mb {
    margin-bottom: 20px;
  }
}

@media (min-width: 300px) {
  .single-location-mt {
    margin-top: 0px !important;
  }
}

@media (min-width: 300px) {
  .single-location-mb {
    margin-bottom: 16px !important;
  }
}

.card.card-reset {
  background-color: transparent !important;
  border: none !important;
}

.nav-link.btn-rounded {
  border-radius: 20px;
  padding: 8px 24px !important;
  color: #fff !important;
}

.transparent-block {
  position: absolute;
  background: rgba(0,0,0,0.25);
}

.clean-block.clean-hero .content-wrapper {
  max-width: 640px;
  color: #fff;
  z-index: 2;
  padding: 40px 20px;
  text-shadow: 1px 1px 1px rgba(0,0,0,.15);
}

.clean-block .block-heading {
  padding-top: 40px !important;
  text-align: center;
}

@media (min-width:576px) {
  .clean-block .block-heading {
    padding-top: 40px !important;
  }
}

section.vanilla-block {
  padding-bottom: 80px;
}

